<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <a href="" class="logo-footer"><img src="./assets/images/logo-footer.png" alt=""></a>
                <p class="intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
                <div class="follow">
                    <h4><span>15k</span> followers</h4>
                    <div class="follow__list flex">
                        <h5>Follow Us:</h5>
                        <ul class="flex">
                            <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href=""><i class="fab fa-twitter"></i></a></li>
                            <li><a href=""><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href=""><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href=""><i class="fab fa-youtube"></i></a></li>
                            <li><a href=""></a></li>
                        </ul>
                    </div>
                </div>
                <form action="" class="subscribe">
                    <input type="email" placeholder="Your Email..." required>
                    <button type="submit" class="btn-submit">Subscribe</button>
                </form>
            </div>
            <div class="col-lg-4 col-md-6 mogo-blog">
                <h4>Blog</h4>
                <ul class="list">
                    <li>
                        <a href="" class="thumb">
                            <img src="./assets/images/blog1.jpg" alt="">
                        </a>
                        <div class="content">
                            <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                            <time>Jan 9, 2016</time>
                        </div>
                    </li>
                    <li>
                        <a href="" class="thumb">
                            <img src="./assets/images/blog3.jpg" alt="">
                        </a>
                        <div class="content">
                            <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                            <time>Jan 9, 2016</time>
                        </div>
                    </li>
                    <li>
                        <a href="" class="thumb">
                            <img src="./assets/images/2.jpg" alt="">
                        </a>
                        <div class="content">
                            <h3><a href="">Lorem ipsum dolor sit amet, consectetur adipiscing</a></h3>
                            <time>Jan 9, 2016</time>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 instagram">
                <h4>Instagram</h4>
                <ul class="instagram__list flex">
                    <li><a href=""><img src="./assets/images/2.jpg" alt=""></a></li>
                    <li><a href=""><img src="./assets/images/3.jpg" alt=""></a></li>
                    <li><a href=""><img src="./assets/images/w2.jpg" alt=""></a></li>
                    <li><a href=""><img src="./assets/images/w5.jpg" alt=""></a></li>
                    <li><a href=""><img src="./assets/images/w7.jpg" alt=""></a></li>
                    <li><a href=""><img src="./assets/images/w4.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
        <div class="copyright">
            <p>© 2016 MoGo free PSD template by <span>Laaqiq</span></p>
        </div>
    </div>
</footer>