<header>
    <nav class="navbar navbar-expand-lg">
        <a href="" class="brand"><img src="./assets/images/mo-go.png" alt=""></a>
        <button class="navbar-toggler" type="button">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </button>
        <div class="navbar-collapse" id="navbarmenu">
            <a href="javascript:;" class="close-menu"></a>
            <ul class="navbar-menu ml-auto flex">
                <li><a class="active" href="" title="">About</a></li>
                <li><a href="" title="">Service</a></li>
                <li><a href="" title="Work">Work</a></li>
                <li><a href="" title="Blog">Blog</a></li>
                <li><a href="" title="Contact">Contact</a></li>
            </ul>
            <div class="cart">
                <a href="" title="" class="icon cart__btn"></a>
            </div>
            <div class="search">
                <a href="" title="" class="icon search__btn"></a>
            </div>
        </div>
        <div class="modal-menu"></div>
    </nav>
</header>