:root{
  --wheat: #fce38a;
  --yellow-orange: #f09f00;
  --cerulean: #008ecd;
  --greyish-brown: #494949;
}
p,h2,h1,h3,h4,h5,h6{margin: 0; padding: 0;}
body {
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
.wrapper{width: 100%; overflow: hidden;}
header{
  width: 100%;
  height: 80px;
  position: fixed;
  transition: height .3s linear;
  top: 0; left: 0; z-index: 99;
  &.is-scroll{
    background: #f38181;
    height: 70px;
    box-shadow: 0 1px 7px rgba(#000,.4);
  }
}
.navbar{
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  &-menu{
    li{padding: 0 29px;}
    a{padding: 8px 0; color: #fff; text-transform: uppercase;}
    li:hover a, a.active{color: v(wheat); border-bottom: 2px solid v(wheat);}
  }
  .cart{
    margin-left: 24px;
    &__btn{
      width: 18px; height: 15px; background-position: -21px -1px;
    }
  }
  .search{
    margin-left: 42px;
    &__btn{
      width: 18px; height: 18px; background-position: 0 0;
    }
  }
}
.banner{
  height: vw(1000px);
  width: 100%;
  background: url("#{$img-path}/banner.jpg") no-repeat 0 0/cover;
  text-align: center;
  color: #fff;
  position: relative;
  h3{
    font-family: 'Kaushan Script', cursive;
    font-size: vw(72px);
  }
  h2{
    display: block;
    margin-top: vw(40px);
    font-weight: 700;
    font-size: vw(150px);
    text-transform: uppercase;
    line-height: 0.93;
  }
  h2:after{
    content: "";
    width: 60px; height: 3px; background: #fff;
    display: block; margin: vw(60px) auto 0;
  }
  .btn-more{
    margin-top: vw(50px);
    padding: 5px 20px;
    font-weight: 700;
    color: #fff;
    border: 3px solid #fff;
    text-transform: uppercase;
  }
  &__content{
    width: 100%; height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute; top: 0; left: 0;
    z-index: 9;
  }
  &__select{
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 28px;
    left: 50%; transform: translateX(-50%);
    z-index: 9;
    li{padding: 0 15px; width: 100%; max-width: vw(280px);}
    li.active{
      .line{background: rgba(#fff,1);}
      .line__process{width: 20%;}
      h5{color: #fff;}
    }
    .line{
      width: 100%; height: 3px; display: block; margin-bottom: 25px; background: rgba(#fff,.5); position: relative;
      &__process{width: 0%; height: 100%; position: absolute; background: #f38181;}
    }
    h5{font-size: 18px; color: rgba(255, 255, 255, 0.7); text-align: left;}
    h5 span{font-size: 24px; font-weight: 700;}
  }
  &:after{
    content: "";
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background-image: linear-gradient(to top, var(--wheat), #f38181), linear-gradient(to bottom, var(--wheat), var(--wheat));
    opacity: .8;
  }
}
.story{
  .wrap_img{
    display: block;
    position: relative;
    img{
      width: 100%; height: 100%; object-fit: cover;
      position: absolute; top: 0; left: 0; transition: transform .2s linear;
    }
    &:before{content: "";
      display: block; padding-top: 60%;}
  }
  &__item{
    background: #95e1d3;
    position: relative;
    &:hover{
      img{transform: translate3d(-10px,-10px,0);}
      .hover{
        transform: translate3d(-10px,-10px,0); opacity: 1; visibility: visible;
        .icon,h5{opacity: 1; visibility: visible;}
      }
    }
  }
  .hover{
    width: 100%; height: 100%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    position: absolute; top: 0; left: 0;
    background-image: linear-gradient(to top, rgba(#fce38a,.8), rgba(#f38181,.8)), linear-gradient(to bottom, rgba(#000000,.7), rgba(#000000,.7));
    opacity: 0; visibility: hidden;
    transition: transform .2s linear;
    .person,h5{opacity: 0; visibility: hidden; transition: opacity .3s linear .2s;}
    .person{width: 32px; height: 23px; background-position: 0 -24px;}
    h5{margin-top: 10px; color: #fff; font-size: 18px; font-weight: 700; text-transform: uppercase;}
  }
}
.statistical{
  width: 100%;
  background: #95e1d3;
  &__list{
    align-items: center;
    color: #fff;
    li{padding: 76px 0; border-left: 1px solid rgba(#fff,0.3); text-align: center; width: 20%;}
    li:last-child{border-right: 1px solid rgba(#fff,.3);}
    h5{font-size: 72px; font-weight: 700;}
    span{display: block; margin-top: 10px;}
  }
}
.service{
  margin-bottom: 70px;
  &__list{margin-top: -30px;}
  li{
    display: flex;
    padding: 50px 30px; border-bottom: 1px solid #e5e5e5;
    .icon{width: 32px; height: 32px;}
    .clock{height: 31px; background-position: -36px -23px;}
    .design{background-position: -71px -22px;}
    .mac{height: 28px; background-position: -104px -22px;}
    .seo{background-position: -138px -23px;}
    .home{height: 31px; background-position: -173px -21px;}
    .digital{background-position: -207px -22px;}
  }
  li:nth-child(3n) ~ li{border-bottom: none;}
  .content{width: calc(100% - 32px); padding-left: 28px;}
  h5{margin-bottom: 15px; text-transform: uppercase; font-size: 14px; color: #333;}
  p{font-size: 15px; line-height: 24px; color: #999;}
}
.designs{
  width: 100%; height: vw(850px);
  background: url("#{$img-path}/layer-45.jpg") no-repeat 0 0/cover;
  background-attachment: fixed;
  .container{height: 100%;}
  &__img{
    img{position: absolute; object-fit: cover;}
    .tablet{width: vw(477px); bottom: 0; left: 48%; transform: translateX(-50%);}
    .phone{width: vw(274px); bottom: vw(-90px); left: 59%;}
  }
  &:before{
    content: "";
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(255, 255, 255, 0.85);
  }
}
.mogo-service{
  .wrap-img{
    min-height: 390px;
    position: relative;
    &:before{content: ""; display: block; padding-top: 60%;}
    img{
      width: 100%; height: 100%; object-fit: cover;
      position: absolute; top: 0; left: 0;
    }
  }
}
.accordion{
  &__item{
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    &:last-child{margin-bottom: 0;}
    .icon{margin-right: 15px;}
    .photo{width: 30px; height: 30px; background-position: -243px -23px;}
    .cre{width: 28px; height: 32px; background-position: -277px -23px;}
    .design{width: 32px; height: 32px; background-position: -307px -25px;}
    &.active{
      h4{border-bottom: 1px solid #e5e5e5;}
      h4:after{ transform: translateY(-50%) rotate(180deg); }
    }
  }
  &__content{padding: 20px;}
  h4{
    display: flex; align-items: center;
    height: 60px;
    padding: 0 16px;
    color: #333; font-size: 14px; text-transform: uppercase;
    position: relative; cursor: pointer;
    &:after{
      content: "";
      width: 22px; height: 12px;
      position: absolute; top: 50%; transform: translateY(-50%); right: 20px;
      background: url("#{$img-path}/icons.png") no-repeat -49px -7px;
    }
  }
  p{font: italic 300 15px/24px Roboto, sans-serif; color: #999;}
}
.feedback{
  padding: 180px 0 90px;
  &--1{padding: 100px 0;}
  .avatar{
    width: 150px; height: 150px;
    img{width: 100%; height: 100%; object-fit: cover;}
  }
  &__list{padding: 0 20px; position: relative;}
  &__item{display: flex !important; flex-wrap: wrap; align-items: center;}
  &__item--r{
    .avatar{
      width: 210px; height: 210px; border-radius: 50%;
      img{border-radius: 50%;}
    }
    .feedback__content{width: calc(100% - 210px);}
  }
  &__content{
    width: calc(100% - 150px); padding-left: 60px;
    font: italic 300 24px/36px Roboto, sans-serif; color: #999;
    span{display: flex; align-items: center; margin-top: 10px; font: 24px 'Kaushan Script', sans-serif; color: #333;}
    span:before{
      content: "";
      width: 60px; height: 3px; margin-right: 10px;
      display: block; background: #f38181;
    }
  }
  .slick-arrow{
    width: 22px; height: 12px;
    background: url("#{$img-path}/icons.png") no-repeat -49px -7px;
    transform: translateY(-50%) rotate(-90deg);
  }
  .slick-next{right: -50px;}
  .slick-prev{transform: translateY(-50%) rotate(90deg); left: -50px;}
}
.team{
  &__member{
    background: #95e1d3;
    position: relative;
    &:hover{
      img,.hover{transform: translate3d(-10px,-10px,0);}
      .hover{opacity: 1; visibility: visible;}
      .link-social{opacity: 1;}
    }
  }
  &__info{
    text-align: center;
    h5{margin: 25px 0 10px 0; color: #333; text-transform: uppercase; font-size: 14px;}
    span{font: italic 300 15px/24px Roboto, sans-serif; color: #999;}
  }
  .wrap-img{
    display: block;
    position: relative;
    &:before{content: ""; display: block; padding-top: 134%;}
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0; transition: transform .3s linear;}
  }
  .hover{
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    display: flex; align-items: center; justify-content: center;
    background-image: linear-gradient(to top, rgba(#fce38a,.6), rgba(#f38181,.6)), linear-gradient(to bottom, rgba(#000000,.6), rgba(#000000,.6));
    opacity: 0; visibility: hidden; transition: transform .3s linear;
  }
  .link-social{
    justify-content: center;
    opacity: 0;
    transition: .3s linear .15s;
    li{width: 56px; height: 56px; background: v(wheat); border-right: 1px solid rgba(#f38181,.5); transition: .3s;}
    li:hover{
      background: #f38181;
      i{color: #fff;}
    }
    li a{display: flex; height: 100%; align-items: center; justify-content: center;}
    i{color: #f38181; font-size: 31px; transition: .3s;}
  }
}
.customer{
  padding: 115px 0 30px;
  &__list{
    justify-content: space-between;
    align-items: center;
    li{padding: 0 15px; width: 16.66%;}
  }
}
.work{
  &__list{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
  }
  .wrap-img{
    &:before{padding-top: 82%;}
  }
  .item{
    position: relative; overflow: hidden; cursor: pointer;
    &:hover{
      .hover{opacity: 1; visibility: visible; transform: scale(1);}
      img{transform: scale(1.1); transition: transform 3s linear;}
    }
  }
  .item:nth-child(3){
    grid-row: 1/3; grid-column: 3/4;
    .wrap-img:before{padding-top: 164%;}
  }
  .hover{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top, rgba(#fce38a,.6), rgba(#f38181,.6)), linear-gradient(to bottom, rgba(#000000,.6), rgba(#000000,.6));
    text-align: center; color: #fff; transform: scale(0); transition: .2s linear;
    h5{margin-bottom: 15px; font-size: 14px; text-transform: uppercase;}
    p{font: italic 300 15px/24px Roboto, sans-serif; color: #fff;}
  }
}
.client{
  width: 100%;
  padding-bottom: 100px;
  background: url("#{$img-path}/bg-client.jpg") no-repeat 0 0/cover;
  .avatar{
    width: 110px; height: 110px;
    img{width: 100%; height: 100%; object-fit: cover; border-radius: 50%;}
  }
  &__item{width: 50%; padding: 35px 0;}
  &__content{width: calc(100% - 110px); padding-left: 30px;}
  h4{margin: 10px 0 12px 0; font-size: 14px; text-transform: uppercase; color: #333;}
  span{font: italic 300 15px/24px Roboto, sans-serif; color: #333;}
  span:after{
    content: "";
    width: 60px; height: 3px; display: block;
    margin-top: 15px;
    background: #f38181;
  }
  p{margin-top: 20px; padding-right: 40px; font: 15px/24px Roboto, sans-serif; color: #999;}
  &:after{
    content: "";
    width: 100%; height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(#fff,.85);
  }
}
.blog{
  &__list{margin-top: 45px;}
  .wrap-img{
    display: block;
    &:before{padding-top: 64%;}
  }
  time{
    width: 60px; height: 70px;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
    position: absolute;
    bottom: 10px; left: -10px;
    background: #95e1d3;
    color: #fff;
    font-size: 30px; font-weight: 700; line-height: 28px;
    span{font: italic 300 15px Roboto, sans-serif;}
  }
  h3{margin: 18px 0; font-size: 14px; text-transform: uppercase;}
  h3 a{color: #333;}
  p{font: 15px/24px Roboto, sans-serif; color: #999;}
  &__statistical{
    padding-top: 20px; margin-top: 20px;
    border-top: 1px solid #e5e5e5;
    i{margin-right: 6px; color: #95e1d3; font-size: 17px;}
    span{margin-right: 18px; font: italic 300 15px/24px Roboto, sans-serif; color: #999;}
  }
}
.map{
  width: 100%; height: 200px; display: flex;
  align-items: center; justify-content: center;
  background: url("#{$img-path}/layer-59.jpg") no-repeat 0 0/cover;
  text-align: center;
  position: relative;
  a{color: #f38181; font-size: 24px; font-weight: 700; text-transform: uppercase;}
  a:after{
    content: "";
    width: 60px; height: 3px;
    display: block; margin: 15px auto 0;
    background: #f38181;
  }
  i{display: block; margin-bottom: 10px; font-size: 30px; color: #f38181;}
  &:after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute; top: 0; left: 0;
    background: rgba(#fff,.85);
  }
}

//ui kit
.section{
  position: relative;
  .header{
    padding-top: 90px;
    text-align: center;
    color: #333;
    h4{font-family: 'Kaushan Script', cursive; font-size: 24px;}
    h2{display: block; margin: 20px 0 45px; font-size: 30px; font-weight: 700; text-transform: uppercase;}
    h2:after{
      content: "";
      width: 60px; height: 3px; display: block;
      margin: 34px auto 0; background: #f38181;
    }
    .des{max-width: 954px; margin: 0 auto; font: 15px/24px Roboto, sans-serif; color: #999;}
  }
}
.wrap-img{
  position: relative;
  &:before{content: ""; display: block;}
  img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
}
img{max-width: 100%;}
.container{z-index: 9; position: relative;}
.btn{
  display: inline-block;
  text-align: center;
}
.slick-arrow{
  position: absolute;
  top: 50%; transform: translateY(-50%);
  font-size: 0; border: none; cursor: pointer;
}
.hover{
  width: 100%; height: 100%;
  position: absolute; top: 0; left: 0;
  opacity: 0; visibility: hidden;
}
.icon{display: block; background: url("#{$img-path}/icons.png") no-repeat 0 0;}
.mt100{margin-top: 100px;}
.mb100{margin-bottom: 100px;}

footer{
  padding-top: 75px;
  background: #f8f8f8;
  h4{margin-bottom: 35px; font-size: 14px; color: #333; text-transform: uppercase;}
  .logo-footer{display: block; margin-bottom: 37px;}
  .intro{font: 15px/24px Roboto, sans-serif; color: #999;}
  .follow{
    margin-top: 45px;
    h4{margin-bottom: 15px; font-size: 14px; color: #333;}
    h4 span{font-size: 18px; font-weight: 700;}
    h5{margin-right: 20px; font: italic 300 15px/24px Roboto, sans-serif; color: #999;}
    i{color: #95e1d3; font-size: 16px;}
    ul{align-items: center;}
    &__list{
      padding-top: 15px;
      align-items: center;
      border-top: 1px solid #e5e5e5;
      li{margin: 0 7px;}
    }
  }
  .subscribe{
    margin-top: 40px;
    display: flex;
    input{
      width: 230px; height: 40px;
      padding: 0 12px;
      border: 1px solid #e7e7e7;
      color: #333;
    }
    input::placeholder{font: italic 300 15px/24px Roboto, sans-serif; color: #999;}
    .btn-submit{
      width: 150px; height: 40px;
      margin-left: -4px;
      background: #95e1d3;
      font-weight: 700; text-transform: uppercase;
      border: none; color: #fff;
      cursor: pointer;
    }
  }
  .mogo-blog{
    li{display: flex; margin-bottom: 30px;}
    .content{width: calc(100% - 120px); padding-left: 20px;}
    .thumb{
      width: 120px; height: 80px;
      img{width: 100%; height: 100%; object-fit: cover;}
    }
    h3{
      margin-bottom: 5px;
      font-size: 12px; line-height: 18px;
      text-transform: uppercase;
    }
    h3 a{color: #333;}
    time{font: italic 300 13px/24px Roboto, sans-serif; color: #999;}
  }
  .instagram{
    li{width: 33.33%; padding: 1px;}
    li a{display: block; position: relative;}
    li a:before{content: ""; display: block; padding-top: 100%;}
    img{width: 100%; height: 100%; object-fit: cover; position: absolute; top: 0; left: 0;}
  }
  .copyright{
    margin-top: 50px;
    border-top: 1px solid #e5e5e5;
    padding: 23px 0;
    color: #333;
    text-align: center;
    span{color: #f38181;}
  }
}
.modal-menu{
  width: 100%; height: 100%;
  position: fixed; top: 0; left: 0;
  background: rgba(#000,.6); display: none;
  opacity: 0; visibility: hidden; transition: all .25s linear;
  &.is-open{opacity: 1; visibility: visible; display: block;}
}
//reponsive
@media(max-width: 1024px){
  .section{
    .header{padding-top: 50px;}
  }
}

@media(max-width: 768px){
  .navbar-collapse{
    width: 80%;
    padding-top: 40px;
    margin: 0 -15px;
    max-width: 400px;
    height: 100%;
    position: fixed; top: 0; left: -80%;
    background: #f38181;
    transition: left .25s linear;
    z-index: 9;
    .close-menu{
      width: 35px; height: 35px;
      position: absolute; top: 15px; right: 15px;
      transform: rotate(45deg);
      &:before,&:after{
        content: "";
        width: 100%; height: 1px; background: #fff; position: absolute;

      }
      &:before{transform: rotate(90deg);}
    }
    &.is-open{left: 0;}
  }
  .navbar-menu{
    li{width: 100%; padding: 5px 30px;}
    a{display: block;}
    a.active, li:hover a{color: #fff; border-bottom: 1px solid #fff;}
  }
  .navbar{
    .cart,.search{display: inline-block;}
    .search{margin: 5px 0 0 15px;}
  }
  .navbar-toggler{
    width: 32px;
    height: 22px;
    padding: 0;
    position: relative;
    span{
      width: 100%; height: 2px; 
      display: block; border-radius: 10px; background: #fff;
      position: absolute;
    }
    .top{top: 0;}
    .middle{width: 70%; top: 50%; transform: translateY(-50%);}
    .bottom{bottom: 0; width: 40%;}
  }
  header{
    height: 60px;
    &.is-scroll{height: 55px;}
  }
  .banner{
    height: vwm(1000px);
    h3{font-size: 6vw;}
    h2{font-size: 10vw; margin-top: 5vw; line-height: initial;}
    h2:after{height: 2px; margin-top: 6vw;}
    .btn-more{margin-top: 10vw; font-size: 3vw;}
    &__select{
      bottom: 10px;
      li{max-width: 20%;}
      .line{height: 2px; margin-bottom: 15px;}
      h5{font-size: 16px;}
      h5 span{font-size: 20px;}
    }
  }
  .statistical{
    .container{padding: 0;}
    &__list{
      align-items: start;
      li{min-height: 190px; padding: 40px 0;}
      h5{font-size: 32px;}
    }
  }
  .service{
    .content{padding-left: 20px;}
    li{padding: 30px 15px;}
    li:nth-child(3n) ~ li{border-bottom: 1px solid #e5e5e5;}
  }
  .designs{
    height: vwm(800px);
    &__img{
      .tablet{width: 40vw;}
      .phone{width: 20vw; bottom: -10vw;}
    }
  }
  .feedback{
    padding: 80px 0 30px;
    .avatar{width: 100px; height: 100px;}
    &__item{align-items: flex-start;}
    &__item--r{
      .feedback__content{width: calc(100% - 100px);}
    }
    &__content{
      width: calc(100% - 100px); padding-left: 15px; font-size: 16px; line-height: 22px;
      span{font-size: 16px;}
      span:before{height: 2px;}
    }
    .slick-prev{left: -15px;}
    .slick-next{right: -15px;}
  }
  .customer{
    padding: 65px 0 30px;
  }
  .team{
    .link-social{
      li{width: 45px; height: 45px;}
      i{font-size: 22px;}
    }
    &__list > div{margin: 15px 0;}
  }
  .story{
    &__item{margin: 8px 0;}
  }
  .client{
    padding-bottom: 50px;
    &__item{width: 100%; padding: 20px 0;}
    p{padding-right: 0;}
  }
  .blog{
    &__list > div{margin: 15px 0;}
  }

  footer{
    .subscribe{margin-bottom: 30px;}
  }

  //uikit
  .section{
    .header{
      h2{margin: 15px 0 35px; font-size: 26px;}
      h4{font-size: 22px;}
      .des{font-size: 13px; line-height: 22px;}
    }
  }
  .mt100{margin-top: 50px;}
  .mb100{margin-bottom: 50px;}
}

@media (max-width: 480px) {
  .work{
    .hover{display: none;}
  }
}







