<main>
    <section class="section banner pr">
        <div class="banner__content">
            <h3>Creative Template</h3>
            <h2>Welcome <br> to MoGo</h2>
            <a href="" class="btn btn-more" title="Learn more">Learn more</a>
        </div>
        <ul class="banner__select flex">
            <li class="active">
                <div class="line"><div class="line__process"></div></div>
                <h5><span>01</span> Intro</h5>
            </li>
            <li>
                <div class="line"><div class="line__process"></div></div>
                <h5><span>02</span> Work</h5>
            </li>
            <li>
                <div class="line"><div class="line__process"></div></div>
                <h5><span>03</span> About</h5>
            </li>
            <li>
                <div class="line"><div class="line__process"></div></div>
                <h5><span>04</span> Contacts</h5>
            </li>
        </ul>
    </section>
    <section class="section story mb100">
        <div class="container">
            <div class="header">
                <h4>What we do</h4>
                <h2>Story about us</h2>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="row story__list mt100">
                <div class="col-lg-4 col-md-4">
                    <div class="story__item">
                        <a href="" title="" class="wrap_img">
                            <img src="./assets/images/layer-44.jpg" alt="">
                        </a>
                        <a href="" class="hover">
                            <i class="icon person"></i>
                            <h5>super team</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="story__item">
                        <a href="" title="" class="wrap_img">
                            <img src="./assets/images/2.jpg" alt="">
                        </a>
                        <a href="" class="hover">
                            <i class="icon person"></i>
                            <h5>super team</h5>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="story__item">
                        <a href="" title="" class="wrap_img">
                            <img src="./assets/images/3.jpg" alt="">
                        </a>
                        <a href="" class="hover">
                            <i class="icon person"></i>
                            <h5>super team</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section statistical">
        <div class="container">
            <ul class="statistical__list flex">
                <li>
                    <h5>42</h5>
                    <span>Web Design Projects</span>
                </li>
                <li>
                    <h5>123</h5>
                    <span>happy client</span>
                </li>
                <li>
                    <h5>15</h5>
                    <span>award winner</span>
                </li>
                <li>
                    <h5>99</h5>
                    <span>cup of coffee</span>
                </li>
                <li>
                    <h5>24</h5>
                    <span>members</span>
                </li>
            </ul>
        </div>
    </section>
    <section class="section service">
        <div class="container">
            <div class="header">
                <h4>We work with</h4>
                <h2>Amazing Services</h2>
            </div>
            <ul class="service__list row flex">
                <li class="col-lg-4 col-md-6">
                    <i class="icon clock"></i>
                    <div class="content">
                        <h5>Photography</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <i class="icon design"></i>
                    <div class="content">
                        <h5>Web Design</h5>
                        <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <i class="icon mac"></i>
                    <div class="content">
                        <h5>Creativity</h5>
                        <p>Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <i class="icon seo"></i>
                    <div class="content">
                        <h5>Seo</h5>
                        <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <i class="icon home"></i>
                    <div class="content">
                        <h5>Css/Html</h5>
                        <p>Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
                    </div>
                </li>
                <li class="col-lg-4 col-md-6">
                    <i class="icon digital"></i>
                    <div class="content">
                        <h5>Digital</h5>
                        <p>Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                    </div>
                </li>
            </ul>
        </div>
    </section>
    <section class="section designs">
        <div class="container">
            <div class="header">
                <h4>For all devices</h4>
                <h2>Unique design</h2>
            </div>
            <div class="designs__img">
                <img src="./assets/images/display-bg-768-x-1024.png" alt="" class="tablet">
                <img src="./assets/images/phone.png" alt="" class="phone">
            </div>
        </div>
    </section>
    <section class="section mogo-service">
        <div class="container">
            <div class="header">
                <h4>Service</h4>
                <h2>what we do</h2>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="row mogo-service-content mt100">
                <div class="col-lg-6">
                    <div class="wrap-img">
                        <img src="./assets/images/layer-43.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="accordion">
                        <div class="accordion__item active">
                            <h4>
                                <i class="icon photo"></i>
                                Photography
                            </h4>
                            <article class="accordion__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </article>
                        </div>
                        <div class="accordion__item">
                            <h4>
                                <i class="icon cre"></i>
                                creativity
                            </h4>
                            <div class="accordion__content">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <h4>
                                <i class="icon design"></i>
                                creativity
                            </h4>
                            <div class="accordion__content">
                                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section feedback">
        <div class="container">
            <div class="feedback__list">
                <div class="feedback__item">
                    <div class="avatar">
                        <img src="./assets/images/layer-16.jpg" alt="">
                    </div>
                    <div class="feedback__content">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                        <span>Jon Doe</span>
                    </div>
                </div>
                <div class="feedback__item">
                    <div class="avatar">
                        <img src="./assets/images/layer-16.jpg" alt="">
                    </div>
                    <div class="feedback__content">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                        <span>Jon Doe</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section team">
        <div class="container">
            <div class="header">
                <h4>Who we are</h4>
                <h2>Meet our team</h2>
                <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
            </div>
            <div class="row team__list mt100">
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="team__member">
                        <div class="wrap-img">
                            <img src="./assets/images/layer-16.jpg" alt="">
                        </div>
                        <div class="hover">
                            <ul class="link-social flex">
                                <li><a href="" title=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team__info">
                        <h5>Matthew Dix</h5>
                        <span>Graphic Design</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="team__member">
                        <div class="wrap-img">
                            <img src="./assets/images/layer-18.jpg" alt="">
                        </div>
                        <div class="hover">
                            <ul class="link-social flex">
                                <li><a href="" title=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team__info">
                        <h5>Christopher Campbell</h5>
                        <span>Branding/UX design</span>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-6">
                    <div class="team__member">
                        <div class="wrap-img">
                            <img src="./assets/images/layer-19.jpg" alt="">
                        </div>
                        <div class="hover">
                            <ul class="link-social flex">
                                <li><a href="" title=""><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="" title=""><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="team__info">
                        <h5>Michael Fertig </h5>
                        <span>Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section customer">
        <div class="container">
            <ul class="customer__list flex">
                <li><a href=""><img src="./assets/images/hipster.png" alt=""></a></li>
                <li><a href=""><img src="./assets/images/abcd.png" alt=""></a></li>
                <li><a href=""><img src="./assets/images/xdesign.png" alt=""></a></li>
                <li><a href=""><img src="./assets/images/hipster1.png" alt=""></a></li>
                <li><a href=""><img src="./assets/images/hipster2.png" alt=""></a></li>
                <li><a href=""><img src="./assets/images/studio.png" alt=""></a></li>
            </ul>
        </div>
    </section>
    <section class="section work">
        <div class="header">
            <h4>What we do</h4>
            <h2>some of our work</h2>
            <p class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        </div>
        <div class="work__list mt100">
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w1.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w2.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w3.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w4.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w5.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w6.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
            <div class="item">
                <div class="wrap-img"><img src="./assets/images/w7.jpg" alt=""></div>
                <div class="hover">
                    <div class="icon photo"></div>
                    <h5>creatively designed</h5>
                    <p>Lorem ipsum dolor sit</p>
                </div>
            </div>
        </div>
    </section>
    <section class="feedback feedback--1">
        <div class="container">
            <div class="feedback__list">
                <div class="feedback__item feedback__item--r">
                    <div class="avatar">
                        <img src="./assets/images/avatar.png" alt="">
                    </div>
                    <div class="feedback__content">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                        <span>Joshua Earle</span>
                    </div>
                </div>
                <div class="feedback__item feedback__item--r">
                    <div class="avatar">
                        <img src="./assets/images/avatar.png" alt="">
                    </div>
                    <div class="feedback__content">
                        <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.”</p>
                        <span>Joshua Earle</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section client">
        <div class="container">
            <div class="header">
                <h4>Happy Clients</h4>
                <h2>What people say</h2>
            </div>
            <div class="client__list flex">
                <div class="client__item flex">
                    <div class="avatar">
                        <img src="./assets/images/layer-47.jpg" alt="">
                    </div>
                    <div class="client__content">
                        <h4>Matthew Dix</h4>
                        <span>Graphic Design</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
                <div class="client__item flex">
                    <div class="avatar">
                        <img src="./assets/images/p2.png" alt="">
                    </div>
                    <div class="client__content">
                        <h4>Nick Karvounis</h4>
                        <span>Graphic Design</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
                <div class="client__item flex">
                    <div class="avatar">
                        <img src="./assets/images/layer-50.jpg" alt="">
                    </div>
                    <div class="client__content">
                        <h4>Jaelynn Castillo</h4>
                        <span>Graphic Design</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
                <div class="client__item flex">
                    <div class="avatar">
                        <img src="./assets/images/p1.png" alt="">
                    </div>
                    <div class="client__content">
                        <h4>Mike Petrucci</h4>
                        <span>Graphic Design</span>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section blog">
        <div class="container">
            <div class="header">
                <h4>Our stories</h4>
                <h2>Latest blog</h2>
            </div>
            <div class="blog__list row">
                <div class="col-lg-4 col-md-4">
                    <div class="blog__post">
                        <a href="" class="wrap-img">
                            <img src="./assets/images/layer-54.jpg" alt="">
                            <time>15 <span>Jan</span></time>
                        </a>
                        <h3><a href="">Lorem ipsum dolor sit amet</a></h3>
                        <p>Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="blog__statistical flex">
                            <span class="view"><i class="fas fa-eye"></i> 542</span>
                            <span class="comment"><i class="fas fa-comment-dots"></i> 17</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog__post">
                        <a href="" class="wrap-img">
                            <img src="./assets/images/layer-55.jpg" alt="">
                            <time>14 <span>Jan</span></time>
                        </a>
                        <h3><a href="">sed do eiusmod tempor</a></h3>
                        <p>Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="blog__statistical flex">
                            <span class="view"><i class="fas fa-eye"></i> 542</span>
                            <span class="comment"><i class="fas fa-comment-dots"></i> 17</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4">
                    <div class="blog__post">
                        <a href="" class="wrap-img">
                            <img src="./assets/images/layer-57.jpg" alt="">
                            <time>12 <span>Jan</span></time>
                        </a>
                        <h3><a href="">incididunt ut labore et dolore</a></h3>
                        <p>Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="blog__statistical flex">
                            <span class="view"><i class="fas fa-eye"></i> 542</span>
                            <span class="comment"><i class="fas fa-comment-dots"></i> 17</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section map mt100">
        <div class="container">
            <a href="">
                <i class="fas fa-map-marker-alt"></i>
                Open map
            </a>
        </div>
    </section>
</main>